<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout/iframe.html</title>
</head>
<body>
    <h2>HTML Iframes</h2>
    <p style="background-color: aqua;">You can use the height and width attributes to specify the size of the iframe:</p>
    <a href="../inputExam.html" target="main_frame">Frame</a>
    <iframe id="main_frame" src="demo_iframe.html" height="200" width="300"></iframe>
    <!-- 인터넷 사이트를 iframe에 링크 못 시키는 건 아쉽네. 광고 넣는 용으로 쓰는 것 같은데. -->
</body>
</html>